<style>
    .masthead {
        display: none;
    }

    .mini-head {
        height: 100px;
    }

    .headline {
        font-size: 40px;
        color: white;
        margin: 30px;
    }

    .game-container {
        width: 480px;
        height: 480px;
        margin: 0 auto;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        background-color: #f4e9ae;
        border-radius: 40px;
    }

    .circle {
        width: 150px;
        height: 150px;
        background: black;
        margin: 5px;
        font-size: 108px;
        font-family: sans-serif;
        text-align: center;
        color: white;
        cursor: pointer;
        float: left;
        border-radius: 60px;
    }

    @@media screen and (max-width: 770px) {
        .game-container {
            width: 95%;
            height: fit-content();
        }
    }

    @@media screen and (max-width: 550px) {
        .circle {
            width: 31%;
            height: 30%
        }
    }

    @@media screen and (max-width: 495px) {
        .circle {
            width: 30%;
        }
    }
</style>

<div class="mini-head"></div>
<h1 class="text-center headline">Tic Tac Toe</h1>
<div class="game-container">
    <div class="circle" id="circle1" onclick="insert(this.id)"></div>
    <div class="circle" id="circle2" onclick="insert(this.id)"></div>
    <div class="circle" id="circle3" onclick="insert(this.id)"></div>
    <div class="circle" id="circle4" onclick="insert(this.id)"></div>
    <div class="circle" id="circle5" onclick="insert(this.id)"></div>
    <div class="circle" id="circle6" onclick="insert(this.id)"></div>
    <div class="circle" id="circle7" onclick="insert(this.id)"></div>
    <div class="circle" id="circle8" onclick="insert(this.id)"></div>
    <div class="circle" id="circle9" onclick="insert(this.id)"></div>
</div>

<script src="~/js/tictactoe.js"></script>
