@{
    ViewData["Title"] = "Home Page";
}


<!-- Games Grid-->
<section class="page-section" id="portfolio">
    <div class="container">
        <div class="text-center">
            <br />
            <h2 class="section-heading text-uppercase">You are a Game</h2>
            <h3 class="section-subheading text-muted">It is time to play!</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Hangman Game Link -->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-play-circle fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/assets/img/games/hangman.png" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Hangman</div>
                        <div class="portfolio-caption-subheading text-muted">Guess a word and safe the man!</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Puzzle Game Link -->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-play-circle fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/assets/img/games/puzzle.png" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Puzzle</div>
                        <div class="portfolio-caption-subheading text-muted">Move those bits here and there</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- LightsOut Game Link -->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-play-circle fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/assets/img/games/lightsout.png" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Lights Out</div>
                        <div class="portfolio-caption-subheading text-muted">Turn those lights off</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Memory Game Link -->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-play-circle fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/assets/img/games/memory.png" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Memory Game</div>
                        <div class="portfolio-caption-subheading text-muted">Let's do some matching</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Snake Game Link -->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-play-circle fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/assets/img/games/snake.png" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Snake Game</div>
                        <div class="portfolio-caption-subheading text-muted">Help snake to hunt some apples</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Tic Toc Game Link -->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-play-circle fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="~/assets/img/games/tictactoe.png" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Tic Tac Toe</div>
                        <div class="portfolio-caption-subheading text-muted">The classics</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Game Modals popup-->
<!-- Game details for Hangman -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Hangman Game</h2>
                            <p class="item-intro text-muted">An exciting game where you can decipher word riddles and safe a man from hanging</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/games/hangman.png" alt="..." />
                            <p>
                                Guess a country depicted in the picture by suggesting letters one by one.<br />
                                Each failed guess brings the man closer to the inevitable end...<br />
                                Watch your choices, you can only make 8 failed guesses!
                            </p>


                            <ul class="list-inline">
                                <li>
                                    <strong>Genre:</strong>
                                    Strategy
                                </li>
                                <li>
                                    <strong>Release year of the original:</strong>
                                    1894
                                </li>
                            </ul>
                            <a class="btn btn-primary btn-xl text-uppercase" type="button" asp-area="" asp-controller="Hangman" asp-action="Index">
                                <i class="fas fa-play-circle me-1"></i>
                                Play
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Game details for puzzle-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Puzzle Game</h2>
                            <p class="item-intro text-muted">
                                A puzzle is a game that involves putting pieces
                                together to arrive at the right solution to a problem.
                                They test a person's brilliance in a fun and entertaining way.
                            </p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/games/puzzle.png" alt="..." />
                            <p>
                                Improve your Visual Perception <br />
                                Drag the pieces and put the picture back together
                            </p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Genre:</strong>
                                    Picture Puzzle
                                </li>
                                <li>
                                    <strong>Release year of the original:</strong>
                                    1983
                                </li>
                            </ul>
                            <a class="btn btn-primary btn-xl text-uppercase" type="button" asp-area="" asp-controller="Puzzle" asp-action="Index">
                                <i class="fas fa-play-circle me-1"></i>
                                Play
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Game details for LightsOut-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Lightsout Game</h2>
                            <p class="item-intro text-muted">Turn all the lights off to win the game</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/games/lightsout.png" alt="..." />
                            <p>
                                Click/Tap the lights to turn them on or off <br />
                                But beware whenever you toggle a light you also switch the status its neighbours
                            </p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Genre: </strong>
                                    Puzzle
                                </li>
                                <li>
                                    <strong>Release year of the original: </strong>
                                    1995
                                </li>
                            </ul>
                            <a class="btn btn-primary btn-xl text-uppercase" type="button" asp-area="" asp-controller="Lightsout" asp-action="Index">
                                <i class="fas fa-play-circle me-1"></i>
                                Play
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Game details for Memory Game -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Memory Game</h2>
                            <p class="item-intro text-muted">Challange your operative memory with our cute but tricky tiles set</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/games/memory.png" alt="..." />
                            <p>Turn over the tiles one at a time and try to match picture pairs in the least possible amount of clicks</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Genre:</strong>
                                    Puzzle
                                </li>
                                <li>
                                    <strong>Release year of the original:</strong>
                                    1962
                                </li>
                            </ul>
                            <a class="btn btn-primary btn-xl text-uppercase" type="button" asp-area="" asp-controller="Memorygame" asp-action="Index">
                                <i class="fas fa-play-circle me-1"></i>
                                Play
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Game details for Snake Game -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Snake Game</h2>
                            <p class="item-intro text-muted">Good old snake game. Now with apple hunting</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/games/snake.png" alt="..." />
                            <p>
                                Use the arrow keys to move a "snake" around the board.<br />
                                As the snake finds food, it eats it and thereby grows larger.<br />
                                The game ends when the snake either moves off the screen or moves into itself.<br />
                                The goal is to make the snake as large as possible before the inevitable end
                            </p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Genre:</strong>
                                    Puzzle
                                </li>
                                <li>
                                    <strong>Release year of the original:</strong>
                                    1997
                                </li>
                            </ul>
                            <a class="btn btn-primary btn-xl text-uppercase" type="button" asp-area="" asp-controller="Snakegame" asp-action="Index">
                                <i class="fas fa-play-circle me-1"></i>
                                Play
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Game details for Tic Tac Toe -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Tic Tac Toe Game</h2>
                            <p class="item-intro text-muted">Good old classical noughts and crosses game</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/games/tictactoe.png" alt="..." />
                            <p>Take turns in putting your noughts and crosses on the vancant places of the board.<br />
                               The first player to get 3 marks in a row (vertically, horizontally or diagonally) is the winner. <br />
                               When all 9 squares are full, it is a tie and the game is over.</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Genre:</strong>
                                    Strategy
                                </li>
                                <li>
                                    <strong>Release year of the original:</strong>
                                    1972
                                </li>
                            </ul>
                            <a class="btn btn-primary btn-xl text-uppercase" type="button" asp-area="" asp-controller="Tictactoe" asp-action="Index">
                                <i class="fas fa-play-circle me-1"></i>
                                Play
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>


