@{
    ViewData["Title"] = "Login";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous" />
<link rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" href="~/css/login.css" />


<div class="mini-header"></div>
<div class="registration-form-container">
    <div class="user">
        <header class="user__header">
            <img class="login-image"src="~/assets/img/login-logo.png" />
            <h1 class="user__title">Log In To Gaming Zone</h1>
        </header>

        <form class="form">
            <div class="form__group">
                <input id="username"
                       type="text"
                       placeholder="Username"
                       class="form__input" />
            </div>

            <div class="form__group">
                <input id="password"
                       type="password"
                       placeholder="Password"
                       class="form__input" />
            </div>

            <button class="btn" id="login-button" type="button">Login</button>
            <div id="comment"></div>
        </form>
    </div>
</div>

<script src="~/js/login.js"></script>