<link href="~/css/lightsout.css" rel="stylesheet" />

<div class="mini-head"></div>
<h1 class="text-center text-capitalize">Lights Out</h1>
<div id="container"></div>

<div id="statistics"
     style="
        margin-top: 10px;
        width: 500px;
        height: 80px;
        margin: auto;
        text-align: center;
        font-size: 30px;
        padding: 5px;
        background-color: #fde3e3;
        border: 10px solid black;
        opacity: 0.2;">

    <div id="statistic-data-holder" style="
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            ">
        <div id="totalTimer">⏱: 0</div>
        <div id="totalTries">🔎: 0</div>
    </div>

</div>

<script src="~/js/lightsout.js"></script>
