<style>
    .masthead {
        display: none;
    }


    .mini-head {
        height: 100px;
    }
    
    canvas {
        display: block;
       
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        border: 10px solid white;
    }

    @@media screen and (max-width: 770px) {
        main {
            width: 100%;
        }

        #canvas-container {
            width: 100%;
        }

        #canvas {
            width: 100%;
        }
    }
</style>

<div class="mini-head"></div>
<div id="canvas-container">
    <canvas id="canvas" width="576" height="576"></canvas>  
</div>
<script src="~/js/snakegame.js"></script>
