@{
    ViewData["Title"] = "Hangman Game";
}


<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- Bootstrap 4 CDN -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- Core theme CSS (includes Bootstrap)-->
<link href="~/css/styles.css" rel="stylesheet" />
<!-- Specific to Hangman CSS -->
<link href="~/css/hangman.css" rel="stylesheet" />


<div class="mini-head"></div>

<div class="container game-zone">
    <div class="float-right" id="mistakes-counter">Wrong Guesses: <span id='mistakes'>0</span> of <span id='maxWrong'></span></div>
    <div class="text-center action-zone">
        <div id="hangmanArena">
            <img id="hangmanPic" src="./assets/hangman/man/0.jpg" alt="">
        </div>
        <div class="flex-row task-line">
            <p>Guess the country:</p>
            <p id="emojiContainer"></p>
        </div>
        <p id="wordSpotlight">The word to be guessed goes here</p>
        <div id="keyboard"></div>
        <button class="reset-button" onClick="reset()">Restart Execution</button>
    </div>
</div>

<script src="~/js/hangman.js"></script>