html {
  font-family: "arial"; }

.masthead {
  display: none; }

.mini-head {
  height: 100px; }

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  color: white; }

#container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background: url(https://unsplash.it/500/500/);
  background-position: center center;
  perspective: 200px; }
  #container div {
    width: 100px;
    height: 100px;
    float: left;
    background: #fafae6;
    transition: all 0.3s;
    backface-visibility: visible; }
    #container div.flip {
      transform: rotateY(180deg) rotateX(180deg) rotateZ(180deg);
      opacity: 0; }
    #container div.flip-delay {
      transition-delay: 0.2s; }
    #container div:hover {
      box-shadow: inset 0 0 5px #fff; }
