.masthead {
    display: none;
}

.mini-head {
    height: 100px;
}﻿﻿

body {
    font-family: 'Segoe UI', Calibri, Arial;
    margin: 0;
}

h2 {
    font-weight: normal;
    text-align: center;
}

h3 {
    font-weight: normal;
    margin: 3px 0px;
    text-align: center;
}

﻿#collage hr {
    border: none;
    border-top: 2px solid #ff006e;
    height: 1px;
}

#collage #playPanel {
    background-color: lightpink;
    padding: 10px 0px;
    margin: 10px auto;
    max-width: 800px;
    width: 95%;
}

#collage #actualImageBox {
    display: inline-block;
    font-size: 0.8em;
    margin: 10px 10px;
    vertical-align: top;
    width: 280px;
}

#collage #stepBox, #collage #timeBox {
    display: inline-block;
    width: 48%;
}

    #collage #stepBox div {
        background-color: #c2defc;
        display: inline-block;
        padding: 1px 4px;
        margin: 0px auto;
        max-width: 800px;
    }

#collage img#actualImage {
    border: 2px solid #a46;
    height: 250px;
    width: 280px;
}

#collage #sortable {
    border: 2px solid #a46;
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    padding: 0;
    width: 400px;
}

#collage #sortable li {
    background-size: 100% 100%;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    float: left;
    width: 99px;
    height: 95px;
}

#divSortable {
    display:inline-block;
    margin:auto;
    width:95%;
    vertical-align:top;
}
#collage button {
    border: 1px solid #cce;
    display: inline;
    font-size: 14px;
    height: auto;
    width: auto;
    padding: 3px 8px;
}

#btnRule {
    border-radius: 50px;
    background-color: yellow;
    border: solid 1px #000;
}

#newPhoto {
    border-radius: 50px;
    background-color: green;
    border: solid 1px #000;
}


/************************Responsive Web Design(media queries)**************************/

@media screen and (max-width: 770px) {
 
        #collage #playPanel {
            max-width: 450px;
            width: 67%;
        }

        #collage ul#sortable {
            display: inline-block;
            margin: 10px;
            padding: 0px;
            width: 93%;
            box-sizing: content-box;
        }

    #sortable ul li {
        background-size: 50% 50%;
       
        margin: 0;
        padding: 0;
        width: 35px;
        height: 55px;
    }
    }

    @media screen and (max-width: 440px) {

        #collage #playPanel {
            max-width: 750px;
            width: 96.5%;
        }

        #collage ul#sortable {
            display: inline-block;
            margin: 0px;
            padding: 0px;
            width: 104%;
            box-sizing: content-box;
        }

        #sortable ul li {
            background-size: 50% 50%;
            margin: 0;
            padding: 0;
            width: 45px;
            height: 55px;
        }
    }

    @media screen and (max-width: 600px) {
     

        #collage #playPanel {
            padding-left: 0px;
            padding-right: 0px;
            margin-top: 10px;
            max-width: 400px;
            width: 100%;
        }
        #collage ul#sortable {
            display: inline-block;
            margin: 0px;
            padding: 0px;
            width: 104%;
            box-sizing: content-box;
        }

        #sortable ul li {
            background-size: 20% 25%;
            width: 25px;
            height: 45px;
        }
    }
    


